<% if @card %>
  <div class="card">
    <div class="upload-image">
      <%= image_tag @card.image_url(:thumb) %>
    </div>

    <div class="original-txt">
      <p><%= @card.original_text %></p>
    </div>
    <%= form_tag review_card_path, method: :put do %>
      <%= text_field_tag(:translation, nil, placeholder: 'Enter translete here') %>
      <%= hidden_field_tag "card_id", @card.id %>
      <%= hidden_field_tag "time", "" %>
      <%= submit_tag("Check", class: "form-submit") %>
    <% end %>
  </div>
<% else %>
  <p class="end-training">Добавьте карточек или выберете другую колоду</p>
<% end %>