<% @cards.each do |card| %>
  <div class = "card">
    <div class = "original-txt">
      <p><%= card.original_text %></p>
    </div>
    <div class = "translated-txt">
      <p><%= card.translated_text %></p>
    </div>
    <span><%= card.review_date.strftime("%d/%m/%Y") %></span>
    <div>
      <%= link_to "Изменить", edit_card_path(card) %>
      <%= link_to "Удалить", card, method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
  </div>
<% end %>
<p>the index page</p>