<p>
  <%= link_to "Add a deck", new_deck_path   %>
</p>
<% @decks.each do |deck| %>
  <div class="deck">
    <h2>
      <%= deck.title %>
    </h2>
  </div>
  <ul>
    <li>
      <%= link_to "Add a card", new_deck_card_path(deck) %>
    </li>
    <li>
      <%= link_to "Show cards", deck_cards_path(deck) %>
    </li>
    <li>
      <%= link_to "Set as current", pick_deck_user_path(deck), method: :put %>
    </li>
    <li>
      <%= link_to "Delete deck", deck, method: :delete, data: { confirm: 'Are you sure?'} %>
    </li>
  </ul>
<% end %>