<!DOCTYPE html>
<html>
<head>
  <title>Flashcardr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="container">
    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <% if current_user %>
          <li><%= link_to "Все карточки", cards_path %></li>
          <li><%= link_to "Добавить карточку", new_card_path %></li>
          <li><%= link_to "Logout", :logout, method: :post %></li>
        <% else %>
          <li><%= link_to "Login", :login %></li>
          <li><%= link_to 'Login with Twitter', auth_at_provider_path(provider: :twitter) %></li>
          <li><%= link_to 'Login with Github', auth_at_provider_path(provider: :github) %></li>
        <% end %>
      </ul>
    </header>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
    <section>
      <%= yield %>
    </section>
  </section>
</body>
</html>
